<h1>Editing vehicule</h1>

<%= render 'form' %>

<%= link_to 'Show', @vehicule %> |
<%= link_to 'Back', vehicules_path %>

<a href="" class="btn btn-warning btn-mini"><i class="icon-white icon-star"></i> Show</a> |
<a href="vehicules" class="btn btn-warning btn-mini"><i class="icon-white icon-star"></i> Back</a>