%h1 booking2
%p les premieres étapes




= link_to "livraisons",livraisons_path

= link_to "vehicule", vehicules_path




</br>

.btn.btn-info 
	= link_to "livraisons", livraisons_path
	.icon-white.icon-tag
	%i Livraison

.btn.btn-info 
	= link_to "vehicues", vehicules_path
	.icon-white.icon-tag
	%i Véhicule



//<a href="livraisons" class="btn btn-info"><i class="icon-white icon-tag"></i> Livraison</a>

//<a href="vehicules" class="btn btn-info"><i class="icon-white icon-tag"></i> Véhicule</a>


